.main-visual {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background-image: url("../img/main_w.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-width: 100%;
}

.main-visual video {
  height: 100%;
  object-fit: cover;
}

.about-info {
    background-color: rgba(255,255,255,0.1);
}

.about-contributor, .about-intros {
    border: 1px solid rgba(255,255,255,0.1);
    border-width: 1px 0 1px 0;
    border-radius: 3px;
    padding: 2em;
}
.about-contributor b {
    color: #AAA;
}

.col-block {
    border: 1px solid #666;
    transition: 0.5s;
}
.col-block:hover {
    border: 1px solid #AAA;
}
.media-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 75%;
}
