head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title IDystopia 2035 數位身份大冒險
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css2?family=Exo+2:wght@100;400;700&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;700&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/assets/css/common.css')
  meta(property='og:locale' content='zh-tw')
  meta(property='og:image' content='/assets/img/main.jpg')
