#loading
  img(src="/assets/img/loading.svg")
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='/') Idystopia 2035
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
    ul.navbar-nav.ml-auto
      li.nav-item
        a.btn.btn-outline-my.mx-1(role='button' href='/form') 前往IDystopia 2035
        a.btn.btn-outline-my.mx-1(role='button' href='https://g0v.hackmd.io/@qsl-tuBOSqqgZqsmYAFtzA/ryS4ob4WP' target='_blank') 計畫共筆
        a.btn.btn-outline-my.mx-1(role='button' href='https://github.com/g0v/IDystopia' target='_blank') github
